<form action="/users/create">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
  First name:
  <input type="text" name="firstname">
  <input type="submit" value="Submit">
</form>